<body>
    <title>User Profile</title>
    <div class="center-container">
        <div class="container-user">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h1>{{ username }}'s User Profile</h1>

                    <div id="profileData">
                        <span>Email: <span id="email" name="changeEmail">{{ email }}</span></span><br>
                        <span>Age: <span id="age" name="changeEmail">{{ age }}</span></span><br>
                    </div>

                    <button id="editDetailsBtn">Edit details</button>

                    <div id="editForm" class="hidden">
                        <input type="email-user" id="newEmail" name="newEmail" placeholder="New Email" required>
                        <br>
                        <input type="number-user" id="newAge" name="newAge" placeholder="New Age" required>
                        <br>
                        <input type="password-user" id="newPassword" name="newPassword" placeholder="New Password" required>
                        <br>
                        <input type="file" id="newProfilePicture" name="newProfilePicture" accept="image/*" placeholder="New Profile Picture">
                        <br>
                        <button id="saveChangesBtn">Save Changes</button>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" id="profilePictureContainer">
                <!-- Profile picture will be displayed here -->
                <img id="profilePicture" src="{{ profilePicture }}">
            </div>
            <!-- Display user classes here -->
            <div id="userClasses">
            <h2>Classes Enrolled</h2>
            <ul>
                {{#each classes}}
                <li>{{this.name}}</li> <!-- Assuming 'name' is the column name for class names in the classes table -->
                {{/each}}
            </ul>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('editDetailsBtn').addEventListener('click', function() {
            var editForm = document.getElementById('editForm');
            if (editForm.classList.contains('hidden')) {
                editForm.classList.remove('hidden');
            } else {
                editForm.classList.add('hidden');
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('newProfilePicture').addEventListener('change', function(event) {
                const file = event.target.files[0];
                const reader = new FileReader();
                
                reader.onload = function(e) {
                    const profilePictureContainer = document.getElementById('profilePictureContainer');
                    profilePictureContainer.innerHTML = `<img src="${e.target.result}" alt="Profile Picture">`;
                }
                
                reader.readAsDataURL(file);
            });
        });


        document.getElementById('saveChangesBtn').addEventListener('click', async function() {
            const newEmail = document.getElementById('newEmail').value;
            const newAge = document.getElementById('newAge').value;
            const newProfilePicture = document.getElementById('newProfilePicture').files[0];
            const newPassword = document.getElementById('newPassword').value;
            
            const formData = {
                newEmail: newEmail,
                newAge: newAge,
                newProfilePicture: newProfilePicture,
                newPassword: newPassword
            };

            try {
                const response = await fetch('/userprofile', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(formData)
                });

                if (response.ok) {
                    window.location.href = '/userprofile';
                } else {
                    console.error('Failed to update user profile');
                }
            } catch (error) {
                console.error('Error updating user profile:', error);
            }
        });
    </script>
</body>
